<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Interclasse ETE MFL</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" />

</head>

<body>



  <div class="barraSuperior">
    <button class="menu-btn" id="menuToggle" aria-label="Abrir menu">☰</button>
    <strong>Interclasse</strong>
    <span></span>
  </div>


  <!-- barraLateral-->
  <aside class="barraLateral" id="barraLateral">
    <div class="marca">
      </svg>
      </span>
      <div class="marca">
        <span class="logo" aria-hidden="true">
          <!-- ícone -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
            <path
              d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z" />
          </svg>
        </span>

        {% if nome_usuario %}
        <div class="usuario-info">
          <span class="login-link">Olá, {{ nome_usuario }}</span>

        </div>
        {% else %}
        <a href="/login" class="login-link">Login</a>
        {% endif %}
      </div>

    </div>

    <nav>
      <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">
        <span class="nav-icon" aria-hidden="true"></span>
        Início
      </a>

      <a href="javascript:void(0)" class="nav-link submenu-toggle">
        <span class="nav-icon" aria-hidden="true"></span>
        Gerenciamento ▾
      </a>
      <div class="submenu">
        <a class="nav-link {% if request.path == '/turma' %}active{% endif %}" href="/turma">
          Turmas
        </a>
        <a class="nav-link {% if request.path == '/cadastrarAluno' %}active{% endif %}" href="/cadastrarAluno">
          Alunos
        </a>
        <a class="nav-link {% if request.path == '/cadastrarEquipe' %}active{% endif %}" href="/cadastrarEquipe">
          Equipes
        </a>
        <a class="nav-link {% if request.path == '/esportes' %}active{% endif %}" href="/esportes">
          Modalidades
        </a>
        <a class="nav-link {% if request.path == '/cadastrarUsuario' %}active{% endif %}" href="/cadastrarUsuario">
          Usuarios
        </a>
      </div>

      <a class="nav-link {% if request.path == '#' %}active{% endif %}" href="#">
        <span class="nav-icon" aria-hidden="true"></span>
        Partidas
      </a>

    </nav>

    <div class="footer">
      <a href="/logout" class="logout-link">Sair</a>
      <div class="muted">ETE Ministro Fernando Lyra 2025</div>
    </div>

  </aside>